@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

nav {
  font-family: "MS Pゴシック",fantasy;
  background-color: #43565E;
  color: white;
  height: 65px;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  }