.App {
  padding: 20px;
}
.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column-header {
  display: flex;
  align-items: center;
}

.column-header span {
  cursor: pointer;
  margin-left: 8px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  font-size: 2rem;
}


form {
  padding-bottom: 10px;
  padding-top: 25px;
  text-align: center;
}

form input[type="text"] {
  padding: 13px;
  font-size: 14px;
  margin-right: 15px;
  width: 500px
}


.channelName {
  font-size: 20px;
}

.custom-title{
  color: white;
  text-decoration: none;
}