.column-header {
  display: flex;
  align-items: center;
}

.column-header span {
  cursor: pointer;
  margin-left: 8px; /* アイコンとタイトルの間にスペースを追加 */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  font-size: 2rem;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

table th {
  white-space: nowrap; /* テーブルヘッダーの改行を禁止 */
  text-align: center;
}

table th, table td {
  padding: 12px 15px;
  border-right: 1px solid #727171;
}

table th span {
  display: block; /* 改行されないようにブロック要素として表示 */
}

table thead tr {
  background-color: #43565E;
  color: white;
  text-align: left;
}

table tbody tr {
  border-bottom: 1px solid #727171;
}

table tbody tr:nth-of-type(even) {
  color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #43565E;
}

table {
  border: 1px solid #ddd; /* 縦線追加 */
}

form {
  padding-bottom: 10px;
  padding-top: 25px;
  text-align: center;
}

form input[type="text"] {
  padding: 13px;
  font-size: 14px;
  margin-right: 15px;
  width: 500px
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFA23E;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #43565E;
}

.channelName {
  font-size: 20px;
}

.custom-title{
  color: white;
  text-decoration: none;
}