.searchBar {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.searchBar input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
}

.searchBar button {
  padding: 10px;
}

.videoCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videoCard {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
