@import url('https://fonts.googleapis.com/css2?family=Hannari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  background-color: #103948;
  color: white;
  margin: 0;
  font-family: Hannari, Crimson Text, 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
